{
  "presets": [
    "react",
    "flow"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    "transform-es2015-duplicate-keys",
    "transform-es2015-modules-commonjs",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas",
    "transform-exponentiation-operator",
  ],
  "env": {
    "server": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
