{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
  },
  "extends": [
    "plugin:flowtype/recommended",
    "eslint-config-airbnb",
    "prettier"
  ],
  "plugins": [
    "flowtype",
    "fp"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {
      }
    }
  },
  "rules": {
    "fp/no-mutation": [2, {
      "commonjs": true,
      "allowThis": true,
      "exceptions": [
        { "object": "ctx", "property": "body" },
        { "object": "ctx", "property": "koa" },
        { "property": "propTypes" },
        { "property": "defaultProps" }
      ]
    }],
    "prefer-arrow-callback": ["error", {
      "allowNamedFunctions": true
    }],
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["__REDUX_DEVTOOLS_EXTENSION__"],
      }
    ],
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
